<app-header></app-header>
<div class="main" igxLayout>
    <igx-nav-drawer [width]="'200px'" id="navigation" [isOpen]="drawerState.open" [(pin)]="drawerState.pin" [class.mini-topping]>

        <ng-template igxDrawer>
            <nav>
                <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
                <igx-icon   fontSet="material">{{ item.name }}</igx-icon>
                <span >{{ item.text }}</span>
                <p>
                    <span *ngIf="item.text == 'Chat'" matBadge="" matBadgeColor="warn" matBadgeOverlap="false"></span>
                </p>
                </span>
            </nav>
        </ng-template>

        <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
            <nav>
                <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" #target="tooltipTarget" [igxTooltipTarget]="tooltipRef" igxRipple (click)="navigate(item)">
                  <igx-icon fontSet="material">{{ item.name }}</igx-icon>
                  <div #tooltipRef="tooltip" igxTooltip>
                    {{ item.text }}
                   </div>
                </span>
            </nav>
        </ng-template>
    </igx-nav-drawer>

    <main class="aux" igxFlex [class.mini-padding]="!drawerState.pin && drawerState.miniTemplate">

        <span igxButton="icon" igxToggleAction="navigation" matTooltip="Mostrar/Ocultar Menu" style="color: floralwhite;">
            <igx-icon fontSet="material" >menu</igx-icon>
          </span>
        <router-outlet></router-outlet>
    </main>
</div>