<section>
    <div class="slideshow">
        <ul class="slider">
            <li>
                <img src="../../assets/img/fondo_homepage/fondo1.jpg" alt="">
                <section class="caption">
                    <h1>Organiza y controla tus proyectos</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p> -->
                    <!-- <button>INICIA</button> -->
                </section>
            </li>
            <li>
                <img src="../../assets/img/fondo_homepage/fondo2.jpg" alt="">
                <section class="caption">
                    <h1>Forma tu equipo de trabajo y asigna tareas</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p> -->
                    <!-- <button>INICIA</button> -->
                </section>
            </li>
            <li>
                <img src="../../assets/img/fondo_homepage/fondo3.jpg" alt="">
                <section class="caption">
                    <h1>Establece tiempos de entrega</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p> -->
                    <!-- <button>INICIA</button> -->
                </section>
            </li>
            <li>
                <img src="../../assets/img/fondo_homepage/fondo4.jpg" alt="">
                <section class="caption">
                    <h1>Enterate del avance de tus proyectos</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p> -->
                    <!-- <button>INICIA</button> -->
                </section>
            </li>
            <li>
                <img src="../../assets/img/fondo_homepage/fondo5.jpg" alt="">
                <section class="caption">
                    <h1>Mejora la productividad de tu quipo de trabajo</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p> -->
                    <!--  <button>INICIA</button> -->
                </section>
            </li>


        </ul>

        <ol class="pagination">

        </ol>

        <div class="left">
            <span class="fa fa-chevron-left"></span>
        </div>

        <div class="right">
            <span class="fa fa-chevron-right"></span>
        </div>

    </div>
</section>

<div>
    <button (click)="ProbarlaApp()">Inicia</button>
</div>