<button style="width: fit-content; background-color: white;" mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon style="margin-bottom: 15px; color: black;" class="close-icon" color="warn">close</mat-icon>
</button>

<h1 mat-dialog-title>Contactarme con soporte</h1>
<!-- <p class="h5 text-center mb-4">Información de contacto</p> -->
<p style="text-align: center; font-size: 12px;">Recuerda que puedes contactarte con nosotros si deseas registrar a tu empresa o si tienes problemas con tu cuenta</p>

<mat-dialog-content class="custom-dialog-container" [formGroup]="form">

    <div style="font-size: 13px;">

        <mat-form-field style="margin-bottom: -1em" appearance="outline">
            <mat-label class="placeholder">Nombre completo</mat-label>
            <input matInput type="text" formControlName="name" required />
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
            <mat-label class="placeholder">Correo electrónico</mat-label>
            <input matInput type="text" formControlName="client" required />
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        </mat-form-field>

        <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
            <mat-label class="placeholder">Asunto</mat-label>
            <input matInput type="text" formControlName="client" required />
            <mat-icon matSuffix class="secondary-text">subject</mat-icon>
        </mat-form-field>

        <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
            <mat-label class="placeholder">Mensaje</mat-label>
            <textarea cols="4" rows="4" matInput formControlName="description" required></textarea>
            <mat-icon matSuffix class="secondary-text">description</mat-icon>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <span style="color: red; font-size: 10px;" fxFlex="row">
        Todos los campos (*) deben ser llenados</span>
    <span *ngIf="(projectFormControl.name.touched && projectFormControl.name.errors?.whitespace) || (projectFormControl.client.touched && projectFormControl.client.errors?.whitespace) " style="color: red; font-size: 10px;" fxFlex="row">
        No se admiten campos con espacios en blanco</span>
    <button class="mat-raised-button" style="background-color: #082330; color: white;" (click)="save()">Enviar</button>
</mat-dialog-actions>