* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.h1 {
    //color: white;
    font-size: 25px;
    color: rgb(12, 27, 34);
    //padding: 15px;
    text-align: left;
}

button {
    background: rgb(212, 212, 212);
    color: black;
    //width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    /* margin-top: 6%; */
}

.close-button {
    float: right;
    top: -24px;
    right: -24px;
}


.align {
    display: flex;
    flex-direction: row;
    /*   align-items: center; */
}

mat-toolbar {
    height: 15%;
}

.contacts {
    width: 100%;
}

.center {
    align-items: center;
}

.send button {
    width: 10%;
}

.select img {
    width: 50%;
    height: 50%;
    border-radius: 150px;
}

mat-icon {
    font-size: 25px;
}



.msgTx {
    max-width: 100%;
    //min-width: 10%;
    border-radius: 15px;
    //border: 1px solid white;
    color: white;
    //padding-right: 1%;
    /* background: rgb(71, 65, 65); */
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: left;
}


.test>div {
    max-width: 80%;
}

.photo img {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}

.archivo {
    //padding: 5px;
    //border: 1px solid white;
    //color: black;
    //background: rgb(212, 212, 212);
}

.scroll {
    max-height: 525px;
    overflow-y: scroll;
    //min-height: 250px;
}

.scroll2 {
    //max-height: 500px;
    overflow-y: scroll;
    max-height: 250px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 350px 350px 350px 350px 350px;
    grid-column-gap: 4%;
    grid-row-gap: 25px;
    text-align: center;
    padding: 2%;
    margin: opx auto;
}


.mat-dialog-content {
    //display: block;
    //padding: 0 24px;
    //max-height: 65vh;
    overflow-y: scroll;
    //-webkit-overflow-scrolling: touch;
}


.custom-dialog2 {
    height: 100%;
}

.align {
    display: flex;
    flex-direction: row ;
    //justify-content: space-between;
}

.align input{
    width: 90%;
}

.align button{
    width: 10%;
    background: transparent;
    color: white;
}

.obs {
    padding: 10px;
}

.coment {
    color: rgb(212, 212, 212);
    font-size: 14px;
}

.obs {
    margin: 0 auto;
}

.obs2 {
    text-align: center;
}
.obs2 circle-progress {
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.obs2 p {
    color: rgb(212, 212, 212);
    font-size: 15px;
}

.accept {
    //background-color: rgb(42, 49, 61);
    color: rgb(212, 212, 212);
}
.avance {
    margin: 0 auto;
}
.avance input{
    width: 45%;
    background: transparent;
    border: none;
    height: 40px;
}

.avance button {
    width: 15%;

}

.align1 {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}
.align1 button{
    width: 10%;
    background: transparent;
    color: white;
}
.clear button {
    float: right;
    height: 30px;
    width: 30px;
    padding: 1px;
    background: rgb(138, 10, 10);
    text-align: center;
}

.align3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user p{
    color: rgb(190, 190, 190);
    font-size: 12px;
   }
   
.coment2 {
    color: black;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    
}
