<h2>Elige tu equipo de trabajo</h2>
<mat-divider></mat-divider>

<div class="box">
    <h4>Mi equipo</h4>
    <div class="container">
        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="end">
        <p>Has elegido {{shoes.selectedOptions.selected.length}} personas para conformar tu equipo de trabajo</p>
        <button>Ok</button>
    </div>

</div>