<h2>Mi equipo</h2>
<mat-divider></mat-divider>
<mat-tab-group mat-align-tabs="center">
    <mat-tab *ngIf="userGugo.manager == true" label="Seleccionar delegados para el equipo">
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="120">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!isLoading">
            <div *ngIf="userGugo.manager == true && usersGugo.length > 0; else NoDelegatesToChoose">
                &nbsp;
                <h5>Selecciona tu equipo de trabajo:</h5>
                <ul>
                    <mat-selection-list #team [(ngModel)]="selectedUsers" (ngModelChange)="onGroupsChange($event)">
                        <li>
                            <mat-list-option class="card" *ngFor="let user of usersGugo" [value]="user">
                                <img matListAvatar [src]="user.photoURL">
                                <p mat-line> {{user.displayName}} </p>
                                <p mat-line> {{user.email}} </p>
                                <p mat-line> {{user.employment}} </p>

                            </mat-list-option>
                        </li>
                    </mat-selection-list>
                </ul>
                <div class="end">
                    <p>Debes escojer al menos un delegado para conformar tu equipo</p>
                </div>
                <div class="end">
                    <p>{{team.selectedOptions.selected.length}} delegados seleccionados para formar tu equipo de trabajo</p>
                    <button style="width: 200px;" (click)="addNewTeam()">Agregar al equipo</button>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Vista general del equipo">
        <div *ngIf="userGugo.manager; else delegate">
            <div *ngIf="teamGugo.delegates?.length > 0; else NoFormedTeam">
                <h5>Delegados de tu Equipo</h5>
                <table class="space">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Celular</td>
                            <td>Cargo</td>
                            <td>Herramientas</td>
                        </tr>
                    </thead>
                    <tr *ngFor="let delegate of teamGugo.delegates">
                        <td><img matListAvatar [src]="delegate.photoURL" style="width: 50px; height: 50px;border-radius: 150px"></td>
                        <td> {{delegate.displayName}} </td>
                        <td> {{delegate.email}} </td>
                        <td> {{delegate.phoneNumber}} </td>
                        <td> {{delegate.employment}} </td>
                        <td class="borrar">
                            <button matTooltip="Eliminar del equipo" (click)="removeDelegates(delegate.uid)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-tab>


    <mat-tab label="Lista de equipos por proyecto">
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let proj of projectsTeam; let i = index">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>Proyecto {{i + 1}}</mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{ proj.name }}
                        </p>

                        <div *ngIf="proj.delegates?.length > 0" class="list-card-members" fxLayout="row">

                            <div class="list-card-member" *ngFor="let delegate of proj.delegates">

                                <img class="list-card-member-avatar" [src]="delegate.photoURL" [matTooltip]="delegate.displayName">
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button (click)="openResources(proj.id)" mat-button style="width: 5px; height: 35px; background-color: #082330; color:mintcream">
                                <mat-icon class="s-18">remove_red_eye</mat-icon>
                            </button>
                        </div>



                    </mat-card-content>
                    <mat-card-actions>

                        <div class="list-card-footer" fxLayout="row" fxLayoutAlign="space-between center">

                            <div fxLayout="row" fxLayoutAlign="start center">

                                <span class="list-card-footer-item" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-18">description</mat-icon>
                                </span>


                            </div>

                            <div fxLayout="row" fxLayoutAlign="end center">
                                <span class="list-card-footer-item" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-18">attachment</mat-icon>
                                    <span class="value">{{proj.resources}}</span>
                                </span>

                                <span class="list-card-footer-item" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-18">comment</mat-icon>
                                    <span class="value">{{proj.comments}}</span>
                                </span>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


<ng-template #delegate>
    <div *ngIf="managers.length > 0; else NoTeam">
        <br>
        <h5>Tus gestores de proyectos:</h5>
        <table class="space">
            <thead>
                <tr>
                    <td></td>
                    <td>NOMBRE</td>
                    <td>CORREO</td>
                    <td>CARGO</td>
                    <td>CELULAR</td>
                </tr>
            </thead>
            <tr *ngFor="let manager of managers">
                <td><img matListAvatar [src]="manager.photoURL" style="width: 50px; height: 50px;border-radius: 150px"></td>
                <td> {{manager.displayName}} </td>
                <td> {{manager.email}} </td>
                <td> {{manager.employment}} </td>
                <td> {{manager.phoneNumber}} </td>
            </tr>
        </table>
        <br>
        <h5>Tus compañeros de proyectos:</h5>
        <div *ngIf="partnersAll.length == 0">
            <p style="color: white;">Aún no tienes compañeros </p>
        </div>
        <table *ngIf="partnersAll.length > 0" class="space">
            <thead>
                <tr>
                    <td></td>
                    <td>NOMBRE</td>
                    <td>CORREO</td>
                    <td>CARGO</td>
                    <td>CELULAR</td>
                </tr>
            </thead>
            <tr *ngFor="let partner of partnersAll">
                <td><img matListAvatar [src]="partner.photoURL" style="width: 50px; height: 50px;border-radius: 150px"></td>
                <td> {{partner.displayName}} </td>
                <td> {{partner.email}} </td>
                <td> {{partner.employment}} </td>
                <td> {{partner.phoneNumber}} </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #NoTeam>
    <div class="empty">
        <br>
        <!-- <h2>No existe registro !!!</h2> -->
        <br>
        <h5>No has sido asignado a ningun equipo</h5>
        <br>
        <p>Muy pronto seras asignado a uno</p>
        <br>
    </div>
</ng-template>

<ng-template #NoFormedTeam>
    <br>
    <h2>No has formado un equipo de trabajo</h2>
    <mat-divider></mat-divider>
    <br>
    <h5>Asegurate de formar antes de crear un proyecto</h5>
</ng-template>

<ng-template #NoDelegatesToChoose>
    <br>
    <div class="empty">
        <!-- <h2>No existe registro !!!</h2> -->
        <br>
        <h5>No hay delegados para agregar al equipo</h5>
        <br>
        <p>Espera para poder ampliar tu equipo</p>
        <br>
    </div>
</ng-template>