<div class="box">
    <form #f="ngForm" (ngSubmit)="onSaveActivity( f )">
        <h1>{{ projectApp.name }}</h1>
        <div class="container">
            <h5>Agrege las actividades del proyecto:</h5>
            <mat-form-field>
                <input matInput placeholder="Nombre de la actividad" type="text" name="name" [(ngModel)]="activityProject.name" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Estado de la actividad" type="text" name="status" [(ngModel)]="activityProject.status" disabled required>
            </mat-form-field>

            <div>
                <button class="btnGuardar" type="submit">Agregar</button>
                <br>
            </div>
            <br>
        </div>
    </form>

    <div *ngIf="tasks.length > 0 ; else postTasks ">
        <div>
            <br>
            <div class="containerTask">
                <table>
                    <thead>
                        <tr>
                            <td class="lengthT">Tarea</td>
                            <td class="lengthD">Encargado</td>
                            <td class="lengthH">Herramientas</td>
                        </tr>
                    </thead>
                    <tr *ngFor="let task of tasks">
                        <td>{{task.name}}</td>
                        <td>{{task.delegate}}</td>
                        <td>
                            <button class="btn btn-danger">
                                    <mat-icon style="width: 20px; height: 10px">delete</mat-icon>  
                                </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="post == true; else taskbutton ">
        <br>
    </div>


    <ng-template #postTasks>
        <div class="box1">
            <div class="subcontainer">
                <h5>No existe registro !!!</h5><br>
                <h6>Usted no tiene tareas asignadas</h6>
                <img src="../../../assets/img/sinTarea.jpg">
            </div>
        </div>
        <br>
        <br>
    </ng-template>

    <ng-template #taskbutton>
        <div class="space btn-style">
            <button (click)="openTask()">Agregar Tareas</button>
        </div>
    </ng-template>

</div>