<h2>Cronograma</h2>
<mat-divider></mat-divider>
<div *ngIf="userApp.manager == true && projectsApp?.length > 0; else NoProjects ">
    <br>
    <table>
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Dias de Duracion</th>
                <th>Dias restantes</th>
                <th>Dias de atraso</th>
                <th>Herramientas</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of projectsApp; let i = index">
                <td flex>{{item.name}}</td>
                <td>{{item.startDate | date : "dd/MM/y"}}</td>
                <td>{{item.endDate | date : "dd/MM/y"}}</td>
                <td>{{durations[i]}}</td>
                <td>{{rests[i]}}</td>
                <td style="color: red;">{{delayed[i]}}</td>
                <td>
                    <button matTooltip="Ver Calendario" (click)="mostrar(item.id)">
                        <mat-icon>notes</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br><br>
    <br>


    <div>
        <div #chartDiv class="gantt"></div>
        <p *ngIf="post == false" style="color: white;">Seleccione el proyecto para mostrar el cronograma</p>
    </div>

</div>

<ng-template #NoProjects>
    <br>
    <h5>No olvides crear proyectos lo mas pronto :)</h5>
</ng-template>