<h2>Revisa tus proximas entregas</h2>
<mat-divider></mat-divider>
<br>
<table>
    <thead>
        <tr>
            <th>Proyecto</th>
            <th>Fecha de entrega</th>
            <th>Dias restantes</th>
            <th>Porcentaje de avance</th>
            <th>Vistas</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of projectsAux">
            <td>{{item.name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td>
                {{item.progress}}
                <progress max="100" value="{{item.progress}}"></progress>
                <!-- <mat-progress-bar style="height: 20px;border-radius: 5px;" mode="determinate" value="{{item.porcentaje}}"></mat-progress-bar> -->
            </td>
            <td>
                <button>
          <mat-icon>notes</mat-icon>
        </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="userApp.employment == 'user'">
    <mat-divider></mat-divider>
    <div class="row text-center space">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Anterior</div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Hoy</div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Siguiente</div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
        </div>
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>

    <br /><br /><br />

    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Event action occurred</h5>
            <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div>
                Action:
                <pre>{{ modalData?.action }}</pre>
            </div>
            <div>
                Event:
                <pre>{{ modalData?.event | json }}</pre>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
        </div>
    </ng-template>
</div>