<h2 style="color: white;">Notificaciones</h2>
<mat-divider></mat-divider>
<br>

<table>
    <tr *ngFor="let not of nots">
        <td>
            <mat-icon *ngIf="not.active == true" style="color: white;">fiber_new</mat-icon>
        </td>
        <td class="position1">
            <img [src]="not.icon">
        </td>
        <td style="color: white;" class="position2">{{not.body}}</td>
        <td class="position1">
            <button (click)="goNotification(not .id, not.click_action_web)" matTooltip="Ir a la notificación">
                <mat-icon>flag</mat-icon>
            </button>
        </td>
    </tr>
</table>