<mat-toolbar class="align">
    <div class="name">GuGo</div>
    <div class="headerTools">
        <button class="btn btn-outline-light" mat-button [matMenuTriggerFor]="notification">
            <mat-icon>notification_important</mat-icon> 
        </button>

        <button class="boton" mat-button [matMenuTriggerFor]="profile">
            <div mat-card-avatar >
                <img class="image" [src]="userGugo.photoURL" alt="">
            </div>
        </button>

        <mat-menu #notification="matMenu" class="containerNotification">
            <div class="notification">
                <h6>Notificaciones</h6>
                <mat-divider></mat-divider>
                <br>
                <div *ngFor="let notif of notifications; let indice=index" class="btnNot">
                    <label>{{notif}}{{indice+1}}</label>
                </div>
                <div>
                    <button (click)="openNotifications()">Ver todas</button>
                </div>
            </div>
        </mat-menu>

        <mat-menu #profile="matMenu" class="containerProfile">
            <div class="profile">

                <h6>Perfil</h6>
                <mat-divider></mat-divider>
                <label class="label1">{{ userGugo.employment }}</label> <br>
                <div class="profileImg">
                    <img [src]="userGugo.photoURL" alt="">
                </div>
                <br>
                <label class="label2">{{ userGugo.displayName }}</label>
                <label class="label3">{{ userGugo.email }}</label>
                <br>
                <div class="btnOptions align">
                    <button (click)="editUser()">Ver Perfil</button>
                    <button (click)="logout()">Cerrar sesión</button>
                </div>
            </div>
        </mat-menu>

    </div>
</mat-toolbar>