<article class="sample-column">
    <div class="navbar-sample">
        <igx-navbar title="Gu.Go" actionButtonIcon="menu" [isActionButtonVisible]="true">
            <igx-icon class="custom-size">notifications</igx-icon>
            <igx-icon class="custom-size" (click)="ProbarlaApp()">person_pin</igx-icon>

            <igx-action-icon>
                <igx-icon class="customIcon" fontSet="fas" name="fa-graduation-cap"></igx-icon>
            </igx-action-icon>
        </igx-navbar>
    </div>
</article>