<div class="box">
    <form #f="ngForm" (ngSubmit)="data.actAux == null ? onSaveActivity( f ) : onEditActivity( f ) ">
        <h1>Actividad</h1>

        <div class="container">

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Nombre</mat-label>
                <input matInput style="color: rgb(212,212,212);" name="name" [(ngModel)]="activityProject.name" type="text" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Fecha de inicio</mat-label>
                <input matInput style="color: rgb(212,212,212);" [matDatepicker]="picker" [min]="minD" [max]="maxD" name="start_date" (dateInput)="inputEvent($event)" [(ngModel)]="activityProject.start_date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Fecha de fin</mat-label>
                <input matInput style="color: rgb(212,212,212);" [matDatepicker]="picker1" [min]="minD" [max]="maxD" name="end_date" (dateInput)="inputEvent2($event)" [(ngModel)]="activityProject.end_date" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
                <mat-label class="placeholder">Nombre</mat-label>
                <input matInput placeholder="Estado de la actividad" name="status" [(ngModel)]="activityProject.status" type="text" disabled required>
            </mat-form-field> -->
            <br>
            <div>
                <button class="btnGuardar" type="submit">Guardar</button>
                <br>
            </div>
            <span *ngIf="f.submitted && (f.controls['name'].errors || f.controls['start_date'].errors || f.controls['end_date'].errors)" style="color:red;"> Todos los campos deben ser llenados</span>
        </div>
    </form>

</div>