<div class="section1">
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="120">
        </mat-progress-spinner>
    </div>
    <h1 class="main" style="text-transform: uppercase; font-weight: bold">
        {{ projectApp.name }}
    </h1>
    <mat-divider></mat-divider>
    <div class="align1" *ngIf="!isLoading">
        <button class="btn btn-warning" (click)="backProjects()" matTooltip="Atrás">
      <mat-icon style="width: 20px; height: 10px">keyboard_backspace</mat-icon>
    </button>
        <button class="btn btn-warning" (click)="editProject()" matTooltip="Editar">
      <mat-icon style="width: 20px; height: 10px">edit</mat-icon>
    </button>
    </div>

    <div>
        <div *ngIf="isLoadingProject" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="80">
            </mat-progress-spinner>
        </div>
        <div *ngIf="!isLoadingProject">
            <form #f="ngForm">
                <div class="container">
                    <div class="align1">
                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Nombre del Proyecto</mat-label>
                            <input matInput style="color: rgb(212, 212, 212)" type="text" [(ngModel)]="projectApp.name" name="name" [disabled]="open" required />
                            <mat-placeholder class="placeholder">Nombre:</mat-placeholder>
                        </mat-form-field>&nbsp;&nbsp;

                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Fecha de Inicio</mat-label>
                            <input matInput style="color: rgb(212, 212, 212)" [matDatepicker]="picker" [min]="projectApp.startDate" [(ngModel)]="projectApp.startDate" name="startDate" readonly (dateInput)="inputEvent($event)" [disabled]="open" required />
                            <mat-placeholder style="color: rgb(212, 212, 212)" class="placeholder">Fecha de inicio:</mat-placeholder>
                            <mat-datepicker-toggle style="color: rgb(212, 212, 212)" matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker style="color: rgb(212, 212, 212)" #picker></mat-datepicker>
                        </mat-form-field>&nbsp;&nbsp;

                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Tipo de Proyecto</mat-label>
                            <input matInput style="color: rgb(212, 212, 212)" [(ngModel)]="projectApp.type" type="text" name="type" [disabled]="open" required />
                            <mat-placeholder class="placeholder">Tipo:</mat-placeholder>
                        </mat-form-field>&nbsp;&nbsp;
                    </div>

                    <div class="align1">
                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Cliente</mat-label>
                            <input matInput style="color: rgb(212, 212, 212)" [(ngModel)]="projectApp.client" type="text" name="client" [disabled]="open" required />
                            <mat-placeholder class="placeholder">Cliente:</mat-placeholder>
                        </mat-form-field>&nbsp;&nbsp;

                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Fecha de Fin</mat-label>
                            <input matInput style="color: rgb(212, 212, 212)" [matDatepicker]="picker1" [min]="projectApp.startDate" [(ngModel)]="projectApp.endDate" name="endDate" readonly (dateInput)="inputEvent2($event)" [disabled]="open" required />
                            <mat-placeholder style="color: rgb(212, 212, 212)" class="placeholder">Fecha de fin:</mat-placeholder>
                            <mat-datepicker-toggle style="color: rgb(212, 212, 212)" matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker style="color: rgb(212, 212, 212)" #picker1></mat-datepicker>
                        </mat-form-field>&nbsp;&nbsp;

                        <mat-form-field appearance="outline">
                            <mat-label style="color: teal">Descripcion</mat-label>
                            <textarea cols="5" rows="2" matInput [disabled]="open" style="color: rgb(212, 212, 212); resize: none;" name="description" [(ngModel)]="projectApp.description"></textarea>
                            <mat-placeholder class="placeholder">Descripcion:</mat-placeholder>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="post1 == true; else lookGuardarProy">
        <br />
    </div>

    <ng-template #lookGuardarProy>
        <button style="background-color:white; width: 150px; color: black; margin-left: 80%;" mat-button (click)="saveEditproject(f)">Guardar Edicion</button>
        <br />
        <br />
    </ng-template>

    <br />

    <div>
        <div *ngIf="activitiesProject.length > 0; else sinActivities" class="scrollX">
            <div class="align">
                <h5 class="activities">Actividades del proyecto</h5>
                <div class="addAct">
                    <button class="btn btn-dark" matTooltip="Agregar Actividad" (click)="openNewActivity()">
                        <mat-icon style="width: 20px; height: 10px">add</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <div *ngIf="isLoadingActivities" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
                    <mat-progress-spinner color="primary" mode="indeterminate" diameter="80">
                    </mat-progress-spinner>
                </div>
                <div *ngIf="!isLoadingActivities">
                    <div *ngFor="let act of activitiesProject; let i = index" class="align">
                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btnTools1">
          <mat-icon>more_vert</mat-icon>
        </button>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar actividad</span>
          </button>
                                <button mat-menu-item (click)="deleteActivity(act.id)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar actividad</span>
          </button>
                            </mat-menu>
                        </div>

                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="act.id == newActivityId">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="state" [ngClass]="{
                  'badge-danger': act.status === 'Por Realizar',
                  'badge-info': act.status === 'Realizando',
                  'badge-success': act.status === 'Realizado',
                  'badge-warning': act.status === 'Por Verificar'
                }" [matTooltip]="act.status"></div>
                                        <div class="position11" style="
                  text-transform: uppercase;
                  font-weight: bold;
                  color: rgb(68, 145, 84);
                ">
                                            {{ act.name }}
                                        </div>
                                        <div class="position12">
                                            Fecha de inicio: {{ act.startDate | date: 'dd/MM/y' }}
                                        </div>
                                        <div class="position12">
                                            Fecha de fin: {{ act.endDate | date: 'dd/MM/y' }}
                                        </div>
                                        <div class="position13">% Avance: {{ act.progress }}</div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="act.tasks?.length > 0; else sinTasks">
                                    <h6>Tareas:</h6>
                                    <br />
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="position21">Tarea</th>
                                                <th class="position23">Delegado</th>
                                                <th class="position22">Fecha de inicio</th>
                                                <th class="position22">Fecha de fin</th>
                                                <th class="position23">% Avance</th>
                                                <th class="position23"></th>
                                                <th class="position24">
                                                    <button (click)="openNewTask(act.startDate, act.endDate, act.id)" matTooltip="Agregar tarea">
                      <mat-icon>add</mat-icon>
                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let task of act.tasks; let k = index">
                                                <td class="position21" [ngClass]="{
                      'badge-danger': task.status === 'Por Realizar',
                      'badge-info': task.status === 'Realizando',
                      'badge-success': task.status === 'Realizado',
                      'badge-warning': task.status === 'Por Verificar'
                    }" [matTooltip]="task.status">
                                                    {{ task.name }}
                                                </td>
                                                <td class="position23">
                                                    <img matListAvatar [src]="task.delegate.photoURL" style="width: 50px; height: 50px; border-radius: 150px" [matTooltip]="task.delegate.displayName" />
                                                </td>
                                                <td class="position22">
                                                    {{ task.startDate | date: 'dd/MM/y' }}
                                                </td>
                                                <td class="position22">
                                                    &nbsp; {{ task.endDate | date: 'dd/MM/y' }}
                                                </td>
                                                <td class="position23">
                                                    <circle-progress [percent]="task.progress" [radius]="30" [outerStrokeWidth]="5" [innerStrokeWidth]="2" [titleColor]="'#ffffff'" [titleFontSize]="'18'" [subtitle]="'Progreso'" [unitsColor]="'#ffffff'" [outerStrokeColor]="'#17A2B8'" [innerStrokeColor]="'#C7E596'"
                                                        [animation]="true" [animationDuration]="300">

                                                    </circle-progress>
                                                </td>
                                                <td class="position23">
                                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btnTools2">
                                                    <mat-icon>build</mat-icon>
                                                    </button>
                                                    <mat-menu #menu="matMenu">
                                                        <button mat-menu-item>
                                                        <mat-icon>edit</mat-icon>
                                                        <span>Editar tarea</span>
                                                    </button>
                                                        <button mat-menu-item (click)="deleteTask(act.id, task.id)">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>Eliminar tarea</span>
                                                    </button>
                                                        <button mat-menu-item (click)="openEvidence()">
                                                            <mat-icon>folder_open</mat-icon>
                                                            <span>Evidencia</span>
                                                        </button>
                                                        <button mat-menu-item (click)="checkTask(act.id, task.id, task.progress)">
                                                            <mat-icon>done_outline</mat-icon>
                                                            <span>Verificado</span>
                                                        </button>
                                                    </mat-menu>
                                                </td>
                                                <td class="position24"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                </div>

                                <ng-template #sinTasks>
                                    <div class="empty">
                                        <br />
                                        <h5>No existe registro !!!</h5>
                                        <br />
                                        <h6>Usted no tiene tareas dentro de esta actividad</h6>
                                        <br />
                                        <button (click)="openNewTask(act.startDate, act.endDate, act.id)" matTooltip="Agregar tareas">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <br />
                                        <br />
                                    </div>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #sinActivities>
        <div>

            <div *ngIf="isLoadingActivities" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
                <mat-progress-spinner color="primary" mode="indeterminate" diameter="80">
                </mat-progress-spinner>
            </div>
            <div *ngIf="!isLoadingActivities" class="empty">
                <h5 class="activities">Actividades del proyecto</h5>
                <br />
                <h5>No existe registro !!!</h5>
                <br />
                <h6>Usted no tiene actividades dentro de este proyecto</h6>
                <br />
                <button (click)="openNewActivity()" matTooltip="Agregar actividad">
                <mat-icon>add</mat-icon>
            </button>
                <br />
                <br />
            </div>
        </div>
    </ng-template>
    <br />
</div>