<div class="section1">

    <h1 class="main">{{ projectApp.name }}</h1>
    <mat-divider></mat-divider>
    <div class="align1">
        <button class="btn btn-warning" (click)="backProjects()" matTooltip="Atrás">
                <mat-icon style="width: 20px; height: 10px">keyboard_backspace</mat-icon>  
        </button>
        <button *ngIf="userApp.manager == true" class="btn btn-warning" (click)="editProject()" matTooltip="Editar">
                <mat-icon style="width: 20px; height: 10px">edit</mat-icon>  
        </button>
    </div>

    <div class="container">

        <div class="align1">
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" [value]="projectApp.name" [disabled]="open" required>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field>
                <input matInput placeholder="Cliente" [value]="projectApp.client" type="text" [disabled]="open" required>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field>
                <input matInput placeholder="Tipo" [value]="projectApp.type" type="text" [disabled]="open" required>
            </mat-form-field>&nbsp;&nbsp;
        </div>

        <div class="align1">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio" [(ngModel)]="projectApp.start_date" [disabled]="open" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha de fin" [(ngModel)]="projectApp.end_date" [disabled]="open" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field>
                <textarea cols="5" rows="2" matInput placeholder="Descripción" [disabled]="open" [value]="projectApp.description"></textarea>
            </mat-form-field>
            <!--  <button (click)="openTask()">Boton temporal</button> -->
            <!-- solo muestra borrar -->
        </div>

    </div>

    <div *ngIf="post1 == true; else lookGuardarProy">
        <br>
    </div>

    <ng-template #lookGuardarProy>
        <button class="btnGuardar">Guardar</button>
    </ng-template>




    <br>


    <div *ngIf="activitiesProject.length > 0; else sinActivities" class="scrollX">
        <div class="align">
            <h5 class="activities">Actividades del proyecto</h5>
            <div class="addAct">
                <button class="btn btn-dark" matTooltip="Agregar Actividad">
                <mat-icon style="width: 20px; height: 10px">add</mat-icon> 
                </button>
            </div>
        </div>
        <div class="title align">
            <h6 class="position">Nombre</h6>
            <h6 class="position1">Fecha inicio</h6>
            <h6 class="position1">Fecha fin</h6>
            <h6 class="position1">Avance</h6>
            <h6 class="position1">...</h6>
        </div>
        <div *ngFor="let act of activitiesProject; let i = index" class="align">
            <!-- <div class="align icon">
                <button class="btn btn-info" matTooltip="Editar actividad">
                    <mat-icon style="width: 20px; height: 10px">edit</mat-icon> 
                </button>

                <button class="btn btn-danger" matTooltip="Eliminar actividad">
                    <mat-icon style="width: 20px; height: 10px">delete</mat-icon>  
                </button>

                <button class="btn btn-warning" (click)="openTask( act.id )" matTooltip="Agregar tarea">
                    <mat-icon style="width: 20px; height: 10px">note_add</mat-icon>  
                </button>
            </div> -->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="position" style="text-transform: uppercase; font-weight: bold">{{act.name}}</div>
                            <div class="position1">{{allstartdates[i] | date : "dd/MM/y"}}</div>
                            <div class="position1">{{allenddates[i] | date : "dd/MM//y"}}</div>
                            <div class="position1">{{act.percentaje}}</div>
                            <div class="position1">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>build</mat-icon>
                                </button>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar actividad</span>
                                    </button>
                                    <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar actividad</span>
                                    </button>
                                    <button mat-menu-item (click)="openTask( act.id )">
                                    <mat-icon>folder_open</mat-icon>
                                    <span>Agregar tarea</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <table>
                        <tr class="title2">
                            <h6 colspan="6" scope="rowgroup">Tareas</h6>
                        </tr>
                        <thead>
                            <tr>
                                <th class="position2">Tarea</th>
                                <th class="position1">Encargado</th>
                                <th class="position3">Fecha de inicio</th>
                                <th class="position3">Fecha de fin</th>
                                <th class="position3">% Avance</th>
                                <th class="position3">...</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of act.tasks; let k = index">
                                <td class="position2">{{task.name}}</td>
                                <td class="position1">{{task.delegate}}</td>
                                <td class="position3">{{task.start_date | date : "dd/MM/y"}}</td>
                                <td class="position3">{{task.end_date | date : "dd/MM/y"}}</td>
                                <td class="position3">{{task.progress}}</td>
                                <td class="position3">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>build</mat-icon>
                                      </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                          <mat-icon>edit</mat-icon>
                                          <span>Editar tarea</span>
                                        </button>
                                        <button mat-menu-item>
                                          <mat-icon>delete</mat-icon>
                                          <span>Eliminar tarea</span>
                                        </button>
                                        <button mat-menu-item>
                                          <mat-icon>folder_open</mat-icon>
                                          <span>Evidencia</span>
                                        </button>
                                    </mat-menu>
                                    <!-- <button class="btn tasksTools" matTooltip="Herramientas" mat-button [matMenuTriggerFor]="tools">
                                        <mat-icon>build</mat-icon>
                                    </button>

                                    <mat-menu #tools="matMenu">
                                        <div class="menuTools">

                                            <button mat-menu-item class="btn edit" matTooltip="Editar tarea" mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                            </button>

                                            <button mat-menu-item class="btn delete" matTooltip="Eliminar tarea" mat-menu-item>
                                                <mat-icon>delete</mat-icon>  
                                            </button>

                                            <button mat-menu-item class="btn evidence" matTooltip="Evidencia" mat-menu-item>
                                                <mat-icon>folder_open</mat-icon>  
                                            </button>
                                        </div>
                                    </mat-menu> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>

    <ng-template #sinActivities>
        <br>
        <br>
        <br>
        <div class="empty">
            <h5>No existe registro !!!</h5><br>
            <h6>Este proyecto no cuenta con actividades asignadas</h6>
            <button class="btnGuardar btnAct" (click)="openActivity()">Agregar Actividad</button>
        </div>
    </ng-template>



    <br>
</div>