* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: Channel;
    src: url(../../../assets/fuente/Channel.ttf);
}


/*header*/

.align1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align2 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.align {
    display: flex;
    flex-direction: column;
}

.header {
    background: black;
    color: white;
}

.btn-header {
    margin-right: 2%;
}

.btn-header button {
    padding: 3px;
    font-size: 18px;
    width: 110px;
    border-radius: 10px;
    border: none;
    background: white;
    color: black;
}

.logo {
    font-family: Channel;
    font-size: 28px;
}


/*Carousel*/

.container1 {
    width: 66.6%;
    background: white;
}

.igx-carousel__inner {
    width: 100%;
    text-align: center;
}

igx-carousel igx-icon.igx-icon {
    color: #e41c77;
}

div.igx-slide img {
    width: 80%
}


/*Login-registro*/

.container2 {
    width: 33.4%;
    background: linear-gradient(to bottom, rgb(21, 128, 101), rgb(11, 113, 131));
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(192, 45, 8)); */
    padding-top: 2.5%;
}

.box {
    width: 80%;
    height: 100%;
    background: rgb(231, 231, 231);
    border: 1px solid black;
    padding: 15px;
    margin: 0px auto;
}

.box h3 {
    text-align: center;
    color: rgb(28, 65, 90);
    margin-top: -5px;
    font-size: 35px;
}

.box img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.btn-sign {
    width: 100%;
    background: burlywood;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-inline-end: 10px;
}

span {
    font-size: 10px;
}


/*logo*/

.logo {
    text-align: center;
}