<section class="login-register side" style="background-image:url(assets/img/fondo1.jpg);">
    <div id="box">
        <div id="main"></div>

        <form (ngSubmit)="onLogin( f2 )" #f2="ngForm">
            <div id="loginform">
                <img src="../../assets/img/logo.jpg">
                <h1>Ingresar</h1>
                <span *ngIf="f2.submitted && f2.controls['password'].errors" style="color:red;">* Contraseña obligatoria</span><br>
                <span *ngIf="f2.submitted && f2.controls['email'].errors" style="color:red;">* Correo electronico obligatorio</span>
                <div>
                    <input type="text" name="email" [(ngModel)]="user.email" required email placeholder="Usuario" /><br>
                </div>
                <input type="password" name="password" [(ngModel)]="user.password" required placeholder="Contraseña" /><br>
                <button type="submit" id="login">INGRESAR</button>
            </div>
        </form>

        <form (ngSubmit)="onRegister( f )" #f="ngForm">
            <div id="signupform">
                <img src="../../assets/img/logo.jpg">
                <h1>Registro</h1>
                <span *ngIf="f.submitted && f.controls['name'].errors" style="color: red;">* Nombre obligatorio</span><br>
                <span *ngIf="f.submitted && f.controls['password'].errors" style="color:red;">* Contraseña de al menos 6 caracteres</span><br>
                <span *ngIf="f.submitted && f.controls['email'].errors" style="color:red;">* Correo electronico obligatorio</span>
                <div>
                    <input type="text" name="name" [(ngModel)]="user.name" minlength="2" required placeholder="Nombre Completo" /><br>
                </div>
                <input type="email" name="email" [(ngModel)]="user.email" required email placeholder="Correo Electrónico" /><br>
                <input type="password" name="password" [(ngModel)]="user.password" minlength="6" required placeholder="Contraseña" /><br>
                <!-- <input type="password" name="nombre" [(ngModel)]="user.nombre" placeholder="Confirmar Contraseña"/><br> -->
                <button type="submit" id="signup">REGISTRAR</button>
            </div>
        </form>


        <div id="login_msg">Tienes Cuenta?</div>
        <button id="login_btn">INGRESAR</button>



        <div id="signup_msg">No tienes cuenta?</div>
        <button id="signup_btn">REGISTRARSE</button>

    </div>
</section>