* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: Channel;
    src: url(../../../assets/fuente/Channel.ttf);
}

.align1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align2 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.align {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    background: black;
    color: white;
}

.btn-header {
    margin-right: 2%;
}

.btn-header button {
    padding: 3px;
    font-size: 18px;
    width: 110px;
    border-radius: 10px;
    border: none;
    background: white;
    color: black;
}

.logo {
    font-family: Channel;
    font-size: 28px;
}

.container1 {
    width: 70%;
    background: rgb(8, 35, 48);
}

.container2 {
    width: 30%;
    margin: 0px auto;
    padding: 3%;
    padding-top: 2%;
    background: white;
}

.box img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.btn-sign {
    width: 100%;
    background: rgb(74, 105, 109);
    color: white;
    padding: 7px;
    font-size: 18px;
    border-radius: 8px;
    margin-inline-end: 10px;
    border: none;
}

.google {
    width: 60%;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background: rgb(250, 233, 136);
    color: black;
}

span {
    font-size: 10px;
}

h3 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(28, 65, 90);
}

.title {
    background: black;
    padding: 10px;
    width: 100%;
    color: white;
}

.test {
    float: right;
}

.logo {
    text-align: center;
}

mat-error {
    color: red;
}