<div class="box">
    <h2>Mi perfil</h2>
    <img src="../../../assets/img/user.jpg" alt="">
    <mat-tab-group>
        <mat-tab label="Informacion básica">
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Nombre" type="text" [value]="userApp.name" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Correo electrónico" [value]="userApp.email" type="email" required>
                </mat-form-field>

                <mat-form-field>
                    <input class="aux" matInput placeholder="Nueva contraseña" [value]="userApp.password" type="password" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Confirmar nueva contraseña" [value]="userApp.password" type="password" required>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Acerca de mi">
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Profesión" type="text">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Genero</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Descripción"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div>
        <button>Guardar</button>
    </div>

</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->