<h2>Mi perfil</h2>
<mat-divider></mat-divider>
<br>
<h5>{{userApp.name}}</h5>
<br>
<img [src]="userApp.photo" alt="">
<div class="addPhoto">
    <button>
        <mat-icon>add_a_photo</mat-icon>
    </button>
</div>

<br>
<form (ngSubmit)="onProfileUpdate( f )" #f="ngForm">
    <div class="aboutMe">
        <mat-form-field class="box">
            <label for="">Acerca de mi</label>
            <br>
            <textarea matInput [value]="userApp.description" name="description" [(ngModel)]="userApp.description" cols="5" rows="4"></textarea>
        </mat-form-field>
    </div>
    <br>
    <!-- <mat-tab-group>
        <mat-tab label="Informacion básica"> -->
    <div class="align">
        <div class="container">
            <mat-form-field>
                <label for="">Nombre</label>
                <input matInput type="text" [value]="userApp.name" name="name" [(ngModel)]="userApp.name" required>
            </mat-form-field>

            <mat-form-field>
                <label for="">Correo electrónico</label>
                <input matInput [value]="userApp.email" type="email" name="email" [(ngModel)]="userApp.email" required>
            </mat-form-field>

            <mat-form-field>
                <label for="">Nueva contraseña</label>
                <input class="aux" matInput [value]="userApp.password" type="password" name="password" [(ngModel)]="userApp.password" required>
            </mat-form-field>

            <mat-form-field>
                <label for="">Confirmar nueva contraseña</label>
                <input matInput [value]="userApp.password" type="password" name="password2" required>
            </mat-form-field>
        </div>
        <!-- </mat-tab>
            <mat-tab label="Acerca de mi"> -->
        <div class="container">

            <mat-form-field>
                <label for="">Número celular</label>
                <input matInput [value]="userApp.cell" type="text" name="career" [(ngModel)]="userApp.career">
            </mat-form-field>

            <mat-form-field>
                <label for="">Fecha de nacimiento</label>
                <input matInput [matDatepicker]="picker" [value]="birthdate" (dateInput)="inputEvent($event)" name="birthdate" [(ngModel)]="userApp.birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <label>Genero</label>
                <mat-select [(value)]="selected" name="gender" [(ngModel)]="userApp.gender">
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Otros">Otros</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
    <!-- </mat-tab>
    </mat-tab-group> -->
    <div>
        <button class="btnGuardar" type="submit">Guardar</button>
    </div>
</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->