<button style="width: fit-content; background-color: white;" mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon style="margin-bottom: 15px; color: black;" class="close-icon" color="warn">close</mat-icon>
</button>
<div class="align3">
    <h1 mat-dialog-title class="h1">Evidencia</h1>
    <label>50 %</label>
</div>
<mat-dialog-content  [formGroup]="form" class="mat-dialog-content">
    <mat-tab-group style="background-color: #082330;"  mat-align-tabs="center">
        <mat-tab label="Archivos"  >
            <br>
            <div class="aling">
                &nbsp;&nbsp;&nbsp;
                <label style="color: white;">Ingrese su % de avance</label> &nbsp;&nbsp;&nbsp;
                <input type="number">&nbsp;&nbsp;&nbsp;
                <button style="background: #0c1b22;">
                    <mat-icon style="color: white;">send</mat-icon>
                </button>
            </div>
            <div class="scroll" style="height: 600px;">
                <br>
                <div class="files align">
                    <input style="color: white;" type="file" name="archivosubido" id="file"  multiple>
                    <button>
                        <mat-icon style="color: white;">check</mat-icon>
                    </button>
                    &nbsp;
                    <button>
                        <mat-icon style="color: white;">close</mat-icon>
                    </button>
                </div>
                <div class="grid">
                    <div *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="archivo">
                        <mat-card class="mat-elevation-z4">
                            <div class="clear" style="margin: 0 auto;">
                                <button><mat-icon style="color: white;">close</mat-icon></button>
                            </div>
                            
                            <mat-card-header>
                                <mat-card-title style="font-size: 14px;">Evidencia {{num}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="../../../assets/img/fondo1.jpg">
                            <mat-card-content>
                                <p class="coment2">The Himalayas is a mountain range in Asia dhdyehd hdhdgfte gdbdvvd</p>
                                <p class="coment2">19/11/2020 - 19:51</p>    
                            </mat-card-content>
                            
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Observaciones">
            <br>
            <div class="obs">
                <div class="scroll2" style="height: 300px;">
                    <div  *ngFor="let num of [1,2,3,4]">
                        <div class="align3 user">
                            <p>Nombre</p>
                            <p>25/11/2020</p>
                        </div>
                        <div class="align photo">
                            <div class="container space1">
                                <div class="msgTx">
                                    <img src="../../../assets/img/fondo1.jpg" alt="" /> &nbsp;
                                    <p class="coment">skabasbkjasdbkjas ajskdbsajkdb sajkasdhaksbdjaksdh kajsd ba ksdb asjkdbkj </p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </mat-tab>
        
    </mat-tab-group>

</mat-dialog-content>

