<div class="box">
    <form #f="ngForm" (ngSubmit)="onSaveActivity( f )">
        <h1>Nueva Actividad</h1>

        <div class="container">

            <mat-form-field>
                <input matInput placeholder="Nombre de la actividad" name="name" [(ngModel)]="activityProject.name" type="text" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" [min]="minD" [max]="maxD" name="startDate" (dateInput)="inputEvent($event)" placeholder="Fecha de inicio" [(ngModel)]="activityProject.startDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker1" [min]="minD" [max]="maxD" name="endDate" (dateInput)="inputEvent2($event)" placeholder="Fecha de fin" [(ngModel)]="activityProject.endDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Estado de la actividad" name="status" [(ngModel)]="activityProject.status" type="text" disabled required>
            </mat-form-field>

            <div>
                <button class="btnGuardar" type="submit">Guardar</button>
                <br>
            </div>

            <br>
        </div>
    </form>

</div>