<div class="box">
    <form>
        <h1>Evidencia</h1>
        <h4>Tarea</h4>
        <div class="align">
            <div>
                <h5>Evidencia</h5>
                <br>
                <input type="file" name="archivosubido" id="file" (change)="handleFileInput($event.target.files)" multiple>
            </div>

            <div>
                <br>
                <h5>Carga de archivos</h5>
                <button (click)="onUpdateFiles()">Guardar</button> &nbsp;
                <button>Limpiar</button>
                <br>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th class="position1">Evidencia</th>
                            <th class="position2">Tamaño</th>
                            <th class="position2">Progreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of filesToUploadFirebase">
                            <td [ngClass]="{ 'text-green': file.progress >= 100 }">
                                {{ file.fileName }}
                            </td>
                            <td>
                                {{ file.file.size / 1024 /1024 | number: '.2-2' }} MB
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progress + '%' }"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
        </div>
    </form>

</div>