<div class="box2">
    <form #f="ngForm" (ngSubmit)="onSaveProject(f)">
        <h1>Nuevo Proyecto</h1>
        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Nombre</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="projectApp.name" required />
                <mat-icon matSuffix class="secondary-text">create</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Cliente</mat-label>
                <input matInput type="text" name="client" [(ngModel)]="projectApp.client" required />
                <mat-icon matSuffix class="secondary-text">people</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Tipo</mat-label>
                <input matInput type="text" name="type" [(ngModel)]="projectApp.type" required />
                <mat-icon matSuffix class="secondary-text">build</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" readonly (dateInput)="inputEvent($event)" name="start_date" [(ngModel)]="projectApp.start_date" required />
                <mat-datepicker-toggle style="color: white" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Fecha de fin</mat-label>
                <input matInput [matDatepicker]="picker1" [min]="minDate" readonly (dateInput)="inputEvent2($event)" name="end_date" [(ngModel)]="projectApp.end_date" required />
                <mat-datepicker-toggle style="color: white" matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Descripcion</mat-label>
                <textarea cols="2" rows="2" matInput name="description" [(ngModel)]="projectApp.description"></textarea>
                <mat-icon matSuffix class="secondary-text">description</mat-icon>
            </mat-form-field>
            <br />
            <div>
                <button type="submit">Guardar</button>
            </div>
            <!--  <br> -->
            <span *ngIf="
          f.submitted &&
          (f.controls['name'].errors ||
            f.controls['client'].errors ||
            f.controls['type'].errors ||
            f.controls['start_date'].errors ||
            f.controls['end_date'].errors)
        " style="color: red">
        Todos los campos (*) deben ser llenados</span
      >
    </div>
  </form>
</div>