<h2>Proyectos</h2>
<mat-divider></mat-divider>
<br />
<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="120">
    </mat-progress-spinner>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="userApp.manager == true; else projectsDelegate">
        <div *ngIf="!isLoading">
            <div *ngIf="delegates?.length > 0 || isLoading; else sinTeam">
                <div *ngIf="projectsApp.length > 0; else NoProject" class="table-responsive">
                    <table class="space" style="width:100%;table-layout:fixed">
                        <thead>
                            <tr>
                                <td class="title">Nombre</td>
                                <td class="title">Cliente</td>
                                <td class="title">Estado</td>
                                <td class="title">Fecha de Inicio</td>
                                <td class="title">Fecha de Fin</td>
                                <td class="title">Progreso</td>
                                <td class="title">Herramientas</td>
                            </tr>
                            <!-- class="badge-danger" -->
                        </thead>
                        <tr *ngFor="let project of projectsApp; let i = index">
                            <td flex>{{ project.name }}</td>
                            <td>{{ project.client }}</td>
                            <td class="badge" [ngStyle]="{'margin-left': '50px', 'margin-top': '30px'}" [ngClass]="{
              ' badge-danger': project.status === 'Por Realizar',
              'badge-info': project.status === 'Realizando',
              'badge-success': project.status === 'Realizado',
              'badge-warning': project.status === 'Por Verificar'
            }">
                                <div style="text-align: center; ">
                                    {{ project.status }}
                                </div>

                            </td>
                            <td>{{ project.startDate | date: 'dd/MM/y' }}</td>
                            <td>{{ project.endDate | date: 'dd/MM/y' }}</td>
                            <td>
                                <circle-progress [percent]="project.progress" [radius]="30" [outerStrokeWidth]="5" [innerStrokeWidth]="2" [titleColor]="'#ffffff'" [titleFontSize]="'18'" [subtitle]="'Avance'" [unitsColor]="'#ffffff'" [outerStrokeColor]="'#17A2B8'" [innerStrokeColor]="'#C7E596'"
                                    [animation]="true" [animationDuration]="300">

                                </circle-progress>
                            </td>
                            <td class="aling">
                                <button class="btn btn-info" matTooltip="Detalles">
              <mat-icon style="width: 17px; height: 7px"
                >remove_red_eye</mat-icon
              >
            </button> &nbsp;
                                <button class="btn btn-warning" [routerLink]="['/project', project.id]" matTooltip="Ver Actividades">
              <mat-icon style="width: 17px; height: 7px"
                >view_list</mat-icon
              >
            </button> &nbsp;
                                <button class="btn btn-danger" (click)="onDeleteProject(project.id)" matTooltip="Eliminar">
              <mat-icon style="width: 17px; height: 7px">delete</mat-icon>
            </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <ng-template #NoProject>
                    <div class="box1">
                        <h3>No existe registro !!!</h3>
                        <br />
                        <h5>Usted no tiene proyectos creados</h5>
                        <br />
                        <img src="../../../assets/img/sin_registro.jpg" alt="" />
                    </div>
                </ng-template>

                <div>
                    <button class="btnProject" (click)="openNewProject()">
        Crear Nuevo Proyecto
      </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #sinTeam>
    <div *ngIf="isLoadingTeam" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center;">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="120">
        </mat-progress-spinner>
    </div>
    <div *ngIf="!isLoadingTeam">
        <div class="box1">
            <br />
            <br />
            <h3>No tiene equipo !!!</h3>
            <br />
            <h5>
                Primero debe seleccionar su equipo de trabajo para poder crear tus proyectos
            </h5>
            <br />
            <p class="warning">
                Usted puede seleccionar su equipo de trabajo en el menu lateral izquiero, en la opcion "Mi equipo"
            </p>
        </div>
    </div>
</ng-template>

<ng-template #projectsDelegate>
    <div *ngIf="pats1?.length > 0; else NoTasks">
        <table class="space">
            <thead>
                <tr>
                    <td class="title position1">Tarea</td>
                    <td class="title position2">Fecha Inicio</td>
                    <td class="title position2">Fecha Fin</td>
                    <td class="title position5">Gestor</td>
                    <td class="title position3">Actividad</td>
                    <td class="title position4">Proyecto</td>
                    <td class="title position2">% Avance</td>
                    <td class="title position5"></td>
                </tr>
            </thead>
            <tr *ngFor="let pat of pats1; let i = index">
                <td class="position1">{{ pat.task.name }}</td>
                <td class="position2">{{ pat.startDate | date: 'dd/MM/y' }}</td>
                <td class="position2">{{ pat.endDate | date: 'dd/MM/y' }}</td>
                <td class="position5">
                    <img matListAvatar [src]="pat.photoURL" style="width: 50px; height: 50px; border-radius: 150px" [matTooltip]="pat.manager_name" />
                </td>
                <td class="position3">{{ pat.activity.name }}</td>
                <td class="position4">{{ pat.project.name }}</td>
                <td class="position2">
                    <div class="align">
                        <input class="progress" type="number" placeholder="Ingrese % avance" #box (keyup.enter)="
                onEnter(pat.project.id, pat.activity.id, pat.task.id, box.value)
              " />
                        <div>{{ pat.task.progress }}%</div>
                    </div>
                </td>
                <td class="position5">
                    <button matTooltip="Subir evidencia" (click)="openEvidence(pat.task.id)">
            <mat-icon>folder</mat-icon>
          </button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #NoTasks>
    <h5>
        No has sido asignado a ninguna tarea. Muy pronto te asignaran alguna :)
    </h5>
</ng-template>