@font-face {
    font-family: Channel;
    src: url(../../../assets/fuente/Channel.ttf);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.test {
    background-image: url("../../../assets/img/gg1.jpg");
}

.box {
    /* margin-top: 30px; */
    width: 100%;
    height: 200px;
    perspective: 1000px;
    /* background: hotpink; */
    padding: 10px;
}

.box:hover .cart {
    transform: rotateY(180deg);
}

.cart {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.front {
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.front h4 {
    color: rgb(23, 14, 105);
    /* font-size: 150%; */
}

.front.back {
    transform: rotateY(180deg);
}

.front.back h5 {
    color: white;
}

.front.back h4 {
    color: white;
    font-size: 40px;
}

.front.back h6 {
    color: rgb(116, 177, 92);
    font-size: 20px;
}

.p {
    color: black;
    text-align: justify;
    font-size: 18px;
}

.p1 {
    color: rgb(92, 146, 177);
}

.space1 {
    margin-top: -15px;
}

.space2 {
    margin-top: 60px;
}


/* mat-list h1 {
    margin-top: -15px;
    font-size: 50px;
    text-align: center;
    font-family: Channel; 
} */

button {
    background: black;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 200px;
}


/* button:hover {
    background: rgb(127, 185, 18);
    color: black;
    cursor: pointer;
} */

mat-card {
    width: 100%;
    height: 200px;
    background-color: floralwhite;
    /* border: solid black; */
}

.color1 {
    background: rgb(247, 160, 120);
}

.color2 {
    background: rgb(243, 212, 109);
}

.color3 {
    background: rgb(221, 247, 183);
}

.color4 {
    background: rgb(241, 227, 236);
}

.color5 {
    background: rgb(17, 28, 65);
}

.gugo {
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    font-family: Channel;
    color: white;
    float: center;
}

mat-card-content {
    text-align: justify;
    width: 100%;
}

mat-card-title {
    color: rgb(13, 62, 136);
    font-weight: bold;
}

h6 {
    color: rgb(23, 180, 180);
}


/*CSS para tabla de presentacion */

table {
    background-color: white;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

tr,
td {
    width: 33.3%;
    height: 200px;
}

.btn-GuiaUser button {
    float: right;
    width: 250px;
    padding: 5px;
    font-size: 20px;
}

.btn-GuiaUser button:hover {
    background: rgb(61, 116, 61);
    color: white;
}

h1,
h4 {
    color: white;
}

mat-divider {
    border-top-color: white;
}