<div *ngIf="!isLoading">
    <h1>Bienvenid@ {{ userGugo.displayName }}</h1>
    <mat-divider class="space1"></mat-divider>
    <br>
    <div *ngIf="userGugo.manager == true; else delegate">
        <div *ngIf="projectsApp?.length > 0; else userGuide">
            <div class="btn-GuiaUser">
                <button (click)="openUserGuide()" matTooltip="Ver guia de usuario">
                <mat-icon>library_books</mat-icon>
            </button>
            </div>
            <br>
            <br>
            <div>
                <div class="align2">
                    <div class="view1">
                        <div>
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="font-size: 30px; text-align: center;">
                                        Total Proyectos
                                    </p>
                                    <p style="font-size: 50px; text-align: center;">
                                        {{projectsApp.length}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div> &nbsp;&nbsp;
                    <div class="view1">
                        <div>
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="font-size: 30px; text-align: center;">
                                        Total Actividades
                                    </p>
                                    <p style="font-size: 50px; text-align: center;">
                                        {{activitiesNumber}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div> &nbsp;&nbsp;
                    <div class="view1">
                        <div>
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="font-size: 30px; text-align: center;">
                                        Total Tareas
                                    </p>
                                    <p style="font-size: 50px; text-align: center;">
                                        {{tasksNumber}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <br>
                <div class="align2">
                    <div class="view1" style="text-align: center;">
                        <h6>Estadisticas Proyectos</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <div style="text-align: center;">
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend"></canvas>
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <div class="view1" style="text-align: center;">
                        <h6>Estadisticas Actividades</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <div style="text-align: center;">
                            <canvas baseChart [data]="pieChartDataAct" [labels]="pieChartLabelsAct" [chartType]="pieChartTypeAct" [options]="pieChartOptionsAct" [plugins]="pieChartPluginsAct" [colors]="pieChartColorsAct" [legend]="pieChartLegendAct"></canvas>
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <div class="view1" style="text-align: center;">
                        <h6>Estadisticas Tareas</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <div style="text-align: center;">
                            <canvas baseChart [data]="pieChartDataTsk" [labels]="pieChartLabelsTsk" [chartType]="pieChartTypeTsk" [options]="pieChartOptionsTsk" [plugins]="pieChartPluginsTsk" [colors]="pieChartColorsTsk" [legend]="pieChartLegendTsk"></canvas>
                        </div>
                    </div>
                </div>
                <br>
                <div class="align2">
                    <br>
                    <div class="view2 container2">
                        <h6>Porcentaje de proyecto</h6>
                        <mat-divider></mat-divider>
                        <br>

                        <div class="content" fxLayout="row wrap" fxLayoutGap="2px">
                            <!-- <div > -->
                            <mat-card *ngFor="let project of projectsApp" class="mat-elevation-z4 " style="background-color:#082330; ">
                                <mat-card-content style="text-align: center; ">
                                    <circle-progress [percent]="project.progress" [radius]="50" [outerStrokeWidth]="5" [innerStrokeWidth]="2" [titleColor]="'#ffffff'" [titleFontSize]="'18'" [subtitle]="'Avance'" [unitsColor]="'#ffffff'" [outerStrokeColor]="'#17A2B8'" [innerStrokeColor]="'#C7E596'"
                                        [animation]="true" [animationDuration]="300">

                                    </circle-progress>
                                    <p style="font-size: 12px; color: white;">{{project.name}}</p>
                                </mat-card-content>
                                <mat-card-actions>

                                </mat-card-actions>
                            </mat-card>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
                <br>
                <div class="align2">
                    <div class="container1">
                        <h6>Ultimos movimientos</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <mat-form-field style="background-color: white;width:300px;">
                            <mat-select placeholder="Seleccione el proyecto" (selectionChange)="projectsChangeAction(project)" name="project" [(ngModel)]="project">
                                <mat-option *ngFor="let project of projectsApp" [matTooltip]="project.name" [value]="project.id">{{ project.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="background-color: white; width:300px;">
                            <mat-select placeholder="Seleccione la actividad" (selectionChange)="activitiesChangeAction(activity)" name="activity" [(ngModel)]="activity">
                                <mat-option *ngFor="let activity of activitiesProjectsApp" [value]="activity.id">{{ activity.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div> &nbsp;&nbsp;
                    <div class="view2 container2 ">
                        <h6>Porcentaje de actividades</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <canvas baseChart width="50px" height="15px" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                    </div>
                </div>
                <br>
                <div class="align2">
                    <div class="container1" style="width: 430px;">
                        <h6>Ultimos movimientos</h6>
                        <mat-divider></mat-divider>
                        <br>
                    </div> &nbsp;&nbsp;

                    <div class="view2 container2 ">
                        <h6>Porcentaje de tareas</h6>
                        <mat-divider></mat-divider>
                        <br>
                        <canvas baseChart width="50px" height="15px" [datasets]="barChartDataTask" [labels]="barChartLabelsTask" [options]="barChartOptionsTask" [colors]="barChartColorsTask" [legend]="barChartLegendTask" [chartType]="barChartTypeTask"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background:#082330; text-align: center; ">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="120">
    </mat-progress-spinner>
</div>


<ng-template #delegate>
    <div *ngIf="projectsApp?.length> 0; else userGuide">
        <div class="btn-GuiaUser">
            <button (click)="post = !post">Ver guia de usuario</button>
        </div>
        <div>
            <div>
                <div class="chart">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
        <br>
        <br>
        <mat-divider></mat-divider>
    </div>

    <div *ngIf="post == true ; else userGuide">

    </div>
</ng-template>


<ng-template #userGuide>

    <!-- <br>
    <h4>Guia de usuario:</h4>
    <br> -->
    <table>
        <tr>
            <td>
                <div class="box color1">
                    <div class="cart">
                        <div class="front">
                            <h4>Equipo de trabajo</h4>
                            <img src="../../../assets/img/userGuide/team.png" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                Forma tu equipo de trabajo para poder crear proyectos. <br> En el menu lateral se tiene la opcion "Mi equipo", aqui podrás seleccionar las personas con las que vas trabajar dentro de tus proyectos y asignarles distintas
                                tareas.
                            </p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="box color2">
                    <div class="cart">
                        <div class="front">
                            <h4>Proyecto</h4>
                            <img src="../../../assets/img/userGuide/project.jpg" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                En el menu lateral se tiene la opcion "Proyectos", aqui podrás crear tus proyectos dando click sobre "Nuevo Proyecto". Si ya existen proyectos se presentará una lista de los mismos con dististas herramientas que te permitirán; visualizar detalles, eliminar
                                y asignar actividades a cada proyecto.
                            </p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="box color3">
                    <div class="cart">
                        <div class="front">
                            <h4>Actividades</h4>
                            <img src="../../../assets/img/userGuide/activities.jpg" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                Para crear actividades, podrás ir al icono "Asignar Actividades" dentro de la columna "Herramientas" ubicado en el listado de proyectos. Mediante el icono "Ver detalles" podrás visualizar los detalles de tus proyectos; informacion de cada proyecto y su
                                respectiva lista de actividades.

                            </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="box color5">
                    <div class="cart">
                        <div class="front">
                            <h1 class="gugo">GU.GO</h1>
                        </div>
                        <div class="front back">
                            <h4>Creadores</h4>
                            <h6>Julio González Pallo</h6>
                            <p class="p1">julio.gonzalez@epn.edu.ec</p>
                            <h6>Alexandra Gualotuña Fernández</h6>
                            <p class="p1">alexandra.gualotuna@epn.edu.ec</p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="box color4">
                    <div class="cart">
                        <div class="front">
                            <h4>Tareas</h4>
                            <img src="../../../assets/img/userGuide/tasks.png" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                Cada actividad tendrá una lista de tareas, las cuales podrán ser creadas mediante el icono "Asignar tareas" ubicado en la tabla de actividades. A cada tarea se le va asignar una persona encargada y mediante el uso del icono "Evidencia" podrás verificar
                                si la tarea fue o no cumplida.
                            </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="box color3">
                    <div class="cart">
                        <div class="front">
                            <h4>Cronograma</h4>
                            <img src="../../../assets/img/userGuide/schedule.png" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                En el menu lateral se tiene la opcion "Cronograma", aqui podrás observar las fechas de entrega de todos tus proyectos. Además, cada fecha indica los días restantes para la culminación del proyecto y el porcentaje de avance mediante el uso de colores.
                            </p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="box color4">
                    <div class="cart">
                        <div class="front">
                            <h4>Notificaciones</h4>
                            <img src="../../../assets/img/userGuide/notification.png" alt="">
                        </div>
                        <div class="front back">

                            <p class="p">
                                En la parte superior derecha se tiene el icono "Notificaciones", aquí podrás visualizar las notificaciones generadas acerca de eventos significativos como los tiempos restantes de un proyecto, actividades asignadas y culminación de un proyecto.
                            </p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="box color2">
                    <div class="cart">
                        <div class="front">
                            <h4>Chat</h4>
                            <img src="../../../assets/img/userGuide/chat.jpg" alt="">
                        </div>
                        <div class="front back">
                            <p class="p">
                                En el menu lateral se tiene la opcion "Chat", aquí podrás comunicarte con las personas que estén dentro de tu equipo de trabajo.
                            </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</ng-template>