@font-face {
    font-family: Channel;
    src: url(../../../assets/fuente/Channel.ttf);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.align {
    display: flex;
    flex-direction: row;
}

.align2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view1 {
    height: 60%;
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    background: rgb(12, 27, 34);
    align-items: center;
    color: white;
}

.view2 {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    background: rgb(12, 27, 34);
    align-items: center;
    color: white;
    margin: 0 auto;
}

.view3 {
    margin: 0 auto;
    width: 50%;
}

.view4 {
    margin: 0 auto;
    width: 30%;
}

.container1 {
    width: 30%;
    padding: 10px;
    height: 40%;
}

.container2 {
    width: 100%;
    padding: 10px;
}

.container3 {
    padding: 20px;
}

.container1 mat-divider {
    border-top-color: rgb(129, 129, 129);
}

.container2 mat-divider {
    border-top-color: rgb(129, 129, 129);
}

.view1 mat-divider {
    border-top-color: rgb(129, 129, 129);
}

.container1 h6 {
    color: rgb(129, 129, 129);
}

.container2 h6 {
    color: rgb(129, 129, 129);
}

.view1 h6 {
    color: rgb(129, 129, 129);
}

.box {
    width: 100%;
    height: 200px;
    perspective: 1000px;
    padding: 10px;
}

.box:hover .cart {
    transform: rotateY(180deg);
}

.cart {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.front {
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.front h4 {
    color: rgb(23, 14, 105);
}

.front.back {
    transform: rotateY(180deg);
}

.front.back h5 {
    color: white;
}

.front.back h4 {
    color: white;
    font-size: 40px;
}

.front.back h6 {
    color: rgb(116, 177, 92);
    font-size: 20px;
}

.p {
    color: black;
    text-align: justify;
    font-size: 18px;
}

.p1 {
    color: rgb(92, 146, 177);
}

.space1 {
    margin-top: -15px;
}

.space2 {
    margin-top: 60px;
}

button {
    background: rgb(212, 212, 212);
    color: black;
    border-radius: 15px;
    border: none;
    width: 40px;
    height: 40px;
}

mat-icon {
    font-size: 20px;
}

mat-card {
    width: 100%;
    height: 200px;
    background-color: floralwhite;
}

.color1 {
    background: rgb(247, 160, 120);
}

.color2 {
    background: rgb(243, 212, 109);
}

.color3 {
    background: rgb(221, 247, 183);
}

.color4 {
    background: rgb(241, 227, 236);
}

.color5 {
    background: rgb(17, 28, 65);
}

.gugo {
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    font-family: Channel;
    color: white;
    float: center;
}

mat-card-content {
    text-align: justify;
    width: 100%;
}

mat-card-title {
    color: rgb(13, 62, 136);
    font-weight: bold;
}

h6 {
    color: rgb(23, 180, 180);
}

table {
    background-color: white;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

tr,
td {
    width: 33.3%;
    height: 200px;
}

.btn-GuiaUser button {
    float: right;
}

h1,
h4 {
    color: white;
}

mat-divider {
    border-top-color: white;
}

.example-card {
    padding: 2.5%;
    margin: 0 auto;
    height: 80%;
    width: 85%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.content {
    padding: 40px;
}

.content>mat-card {
    width: 280px;
}